<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{ css('css/main') }}
  {{ script('js/main') }}
  <title>{{ pageTitle || 'iot-xiangyu' }}</title>
</head>
<body style="background: url({{ assetsUrl('space.jpg') }})">
  <div>
    <small>URL:</small>{{ request.url() }}<br>
    <small>OriginalURL:</small>{{ request.originalUrl() }}<br>
    <small>Method:</small>{{ request.method() }}<br>
    <small>Protocol:</small>{{ request.protocol() }}<br>
  </div>
  <div class="container">
    <div class="header">
      @section('header')
        <h1>There is no header yet.</h1>
      @endsection
    </div>
    <div class="content">
      @section('content')
        <h1>There is no content yet.</h1>
      @endsection
    </div>
    @include('partials.footer')
  </div>
</body>
</html>
